<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         h1 {
        color: rgb(218, 187, 13);
        text-align: center;

      }


      body {
          background-color: rgb(13, 129, 75);
        }
      
      </style>
</head>

<body>
  <h1>{{heading}}</h1>
  <a href="/" ><img width='50' height="50" style="position: absolute; top: 0; left: 0;" src="{%static 'images/home.png'%}" alt=""></a>
 
  <form action="" method="post">
    {% csrf_token %}
    <button type="submit" name="s2" style="position: fixed; bottom: 0; right: 0;">
      <img src="{%static 'images/solution.png'%}" width=300 height=80 alt="Submit">
    </button>
  </form>
  

<table>
  <tr>

    <td>
     
        <form action="" method="post">
            {% csrf_token %}
            
            <textarea spellcheck="false" name="1" id="" cols="100" rows="20">{{message}}  </textarea>
            

            
            <input type="submit" name="s1" id="">
             </form>
    </td>

    <td>
      <p>*Currently we only support Python3</p>
      {% if image == 1 %}
        <img src="{%static 'images/Q.png'%}" alt="">
        {% elif image == 2 %}
        <img src="{%static 'images/Q2.png'%}" alt="">
        {% elif image == 3 %}
        <img src="{%static 'images/Q3.png'%}" alt="">
        {% elif image == 4 %}
        <img src="{%static 'images/Q4.png'%}" alt="">
        {% elif image == 5 %}
        <img src="{%static 'images/Q5.png'%}" alt="">
        {% endif %}
        <br>
       
        
        
    </td>
    
  </tr>

</table>
<div>
  {% if yes == 'Accepted' %}
   <img src="{%static 'images/accepted.jpg'%}" width=200 height=200 alt="">
   {% elif yes%}
   <img src="{%static 'images/wrong.png'%}" width=50 height=50 alt="">
    {{ yes }}
    {% elif Arr %}
    <img src="{%static 'images/wrong.png'%}" width=50 height=50 alt="">
     <br>
    {{ Arr }} <br><br>
    {{x}} <br><br>
    {{ourans}} <br><br>
    {{ans}} 

   
 
    
  {% endif %}
</div>



</body>
</html>